.grand-parent {
    height: 60vh;
    background: #1F1F1F;
    ~.main-bg-color {
        background-image: none;
    }   

    .justify-content-center {
      justify-content: left !important;
    }

    
}

textarea {
  min-height: 454px;
  background: transparent;
  color: var(--main-title-color);
  border: 1px solid #262626;
  width: 100%;
  background-color: #262626;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  box-shadow: none;
  padding: 10px;
  height: 100%;
  font-size: 0.70rem;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
}

.title-editable {
  padding-bottom: 10px;
}

.parent {
  &::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    top:0;
    left: 0;
    filter: blur(25px);
    z-index: 2;
    transform:scale(1.05); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } 

  &:hover::before {
    filter: blur(20px);
  }
}


.text-content > h1 + ul {
  background: var(--tb-bg-color);
  list-style: none;
  counter-reset: section;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 50%;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0rem;
}

.text-content > h1 + ul li {
  padding-left: 0;
  padding-right: 0;
}

.text-content > ul li::before {
  counter-increment: section;
  content: counters(section,".") ". ";
  font-weight: bold;
}

.parent {
  position: relative;
  height: 60vh;
  overflow: hidden; /* clip overflowing blur */
  .container {
    display: flex;
  }
}
  
.principal-title {
  h1 {
      font-size: 3.5rem;
  }
}
