.grand-parent {
    height: 60vh;
    background: #1F1F1F;
    ~.main-bg-color {
        background-image: none;
    }   

    .justify-content-center {
      justify-content: left !important;
    }
}

.big-left-container-fluid {
  background: #FFF;
  border-radius: 5px;
  padding: 2.25em;
  color: #000;
}

.small-right-container-fluid {
  background: #ededed;
  color: #000;
  border-radius: 5px;
  padding: 2.25em;
}

.container-fluid-padding {
  padding: 1.25em;
}

.third-section {
  background: #f7f7f7;
}

.text-container {
  background: var(--dark-third);
}

textarea {
  min-height: 454px;
  background: transparent;
  color: var(--main-title-color);
  border: 1px solid #262626;
  width: 100%;
  background-color: #262626;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  box-shadow: none;
  padding: 10px;
  height: 100%;
  font-size: 0.70rem;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
}

.title-editable {
  padding-bottom: 10px;
}

.parent {
  position: relative;
  height: 60vh;
  overflow: hidden; /* clip overflowing blur */

  .container {
    display: flex;
  }

  &::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    top:0;
    left: 0;
    filter: blur(25px);
    z-index: 2;
    transform:scale(1.05); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } 

  &:hover::before {
    filter: blur(20px);
  }
}







.principal-title {
  h1 {
      font-size: 3.5rem;
  }
}
