.grand-parent {
    //height: 60vh;
    background:var(--secondary-bg-color) !important;
    ~.main-bg-color {
        background-image: none;
    }   

    .justify-content-center {
      justify-content: left !important;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      //height: 100%;
      position: absolute;
      //z-index: -1;
      background: #000;
      //height: 200%;
      position: absolute;
      background: linear-gradient(0,transparent, rgba(0,0,0,.35));//rgba(0,0,0,.35)
    }

    
}

.post-thumbnail {
  &::before {
    content: "";
   display: block;
   width: 100%;
   //height: 100%;
   position: absolute;
   //z-index: -1;
   background: #000;
   //height: 200%;
   position: absolute;
   background: linear-gradient(0deg,#141414 0%,transparent 100%);
   z-index: 3;
   height: 51vh;
 }


}



.container-fluid-padding {
  padding: 1.25em;
}

.third-section {
  background: #f7f7f7;
}

.text-container {
  background: var(--dark-third);
}

textarea {
  min-height: 454px;
  background: transparent;
  color: var(--main-title-color);
  border: 1px solid #262626;
  width: 100%;
  background-color: #262626;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  box-shadow: none;
  padding: 10px;
  height: 100%;
  font-size: 0.85rem;
  text-align: justify;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
}


// This style is needed to make possible update the image in the post.
.img-background-overlay {
  ~.home_slider_content_container {
    .principal-title-editable {
      .search {
        text-transform: none;
      }
    }
  }
}

.parent {
  //position: relative;
  //height: 60vh;
  overflow: hidden; /* clip overflowing blur */

  .container {
    display: flex;
  }

  .container-fluid {
    display: flex;
  }

  &::before {
    content: '';
    position: absolute;
    //height: 100%;
    height: 60vh;
    width: 100%;
    top:0;
    left: 0;
    //filter: blur(25px);
    z-index: 2;
    //transform:scale(1.05); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } 

  &:hover::before {
    //filter: blur(20px);
  }
}


 .third-section {
  background: var(--secondary-bg-color) !important;
 }

 .text-content h1+ul {
    background: var(--main-bg-color) !important;
    background-image: linear-gradient(200deg,#292929 0%,var(--main-bg-color) 100%)  !important;
    border: transparent !important;
  
 }

 .text-content {
   ul {
    a {
      color: #FFF !important;
    }
   }
 }
