
.text-content {
    h1 + ul {
        background: #F5F5F5;
        border: 1px solid #EEEEEE;
        border-radius: 5px;
        display: inline-block;
        padding: 1rem;
    }

    h1 {
      &:last-child {
        color: #039490 !important;
      }
    }

    ul {
        counter-reset: section;
        list-style-type: none;
        padding-left: 1rem;

        li {
            &:before {
                counter-increment: section;
                content: counters(section, ".") ". ";
                font-weight: bold;
                color: #FFF;
            }

            ul > li{
                padding-left: 0.25rem;
            }
        }

      &:last-child {
        background: #FBC84F !important;

        li {
          &:before{
            color: #000 !important;
          }
        }
        a {
          color: #000 !important;

        }
      }
    }
}
