@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Work+Sans:300,400,500,600,700,800,900');

.logo
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.075em;
}

.navbar {
  z-index: 999;
  background: var(--secondary-bg-color);
  //border-bottom: 3px solid var(--fourth-bg-color);
}

.home_slinder {
    height: 80vh;
}

header {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    height: 67px;
    .fixed-top {
        background: rgba(0,0,0,0.75);
        position: fixed;
    }
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    height: inherit;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    width: 100%;
    height: inherit;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.home_slider_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('https://cdn.shopify.com/s/files/1/0094/1621/2537/files/12S_HiRIseProforiMac_LS3_HiRes_b316c95e-815e-4d13-92b2-a016445637a5_1920x.jpg?v=1557932414');

    &::before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
    }
}

.home_slider_content_container {
    padding-top: 33%;/* 27 in other cases*/
    z-index: 3;
    width: 100%;
}

.home_slider_content_container_editable {
  padding-top: 20%;
}

.btn {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(12,12,12,0);
    border-radius: 3px 3px 3px 3px;
    padding: 15px 20px 15px 20px;

    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--fourth-bg-color);

    font-family: "Montserrat", Sans-serif;

    color: var(--main-title-color);

    &:hover {
        background: var(--fourth-bg-color);
        color: var(--main-title-color);
    }
}

.search {
    display: inline-block;
    width: 262px;
    height: 46px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 49px;
    color: #FFFFFF;
}

.btn-search {
    background: transparent;
    border: none;
    color: #FFF;
    padding: 15px;
    font-size: 22px;
}
