.text-content {
    .line {
        padding-top: 5px;
    }
}

.p-line  {
    padding-right: 10px;;
}

.post-text {
    //padding: 0;
    //text-align: inherit;
    //display: flex;
    width: 100%;

    .line {
        margin-left: 5px;
    }
}