.text-content {
    
    .line {
        padding-top: 5px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
    }

    h1 {
        line-height: 1.2;
        font-weight: 800;
    }

    h2 {
        line-height: 1.2;
        font-weight: 800;
    }

    h3 {
        line-height: 1.2;
        font-weight: 800;
    }

    p{
        text-indent: 40px;
        text-align: justify;
        margin-bottom: 1.25rem;
    }

   
}

.p-line  {
    padding-right: 10px;;
}

.post-text {
    //padding: 0;
    //text-align: inherit;
    //display: flex;
    width: 100%;

    .line {
        margin-left: 5px;
    }
}
