


.mansory {

    .container {
        display: inherit;

    }

    .card {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .main_container {
        padding-left: 9%;
        padding-right: 9%;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }


    /*@media (min-width: 1200px) {
        .main_container {
            max-width: 1140px;
        }

    }

    @media (min-width: 992px) {
        .main_container {
            max-width: 960px;
        }
    }

    @media (min-width: 768px) {
        .main_container {
            max-width: 720px;
        }
    }

    @media (min-width: 576px) {
        .main_container {
            max-width: 540px;
        }
    }*/

}

.refresh-icon {
  text-align: right;
  animation: fade-out 5s;
  opacity: 0;
  i {
    font-size: 12px !important;
  }
}

.card {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 2%;
    margin-right: 1%;
    background: transparent;


    .card-body {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &:hover {
            cursor: pointer;
            background: var(--jjara-card-body-hover);
        }

        &.refresh {
            background-image:none !important;
            animation: fadeIt 5s ease-in-out;
        }


    }

    @keyframes fade-out {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      @keyframes fadeIt {
        0%   { background-color: #353535 !important; }
        50%  { background-color: #353535; }
        //100% { background-color: var(--main-bg-color); }
      }

}

.sanitize {
    padding-left: 5%;
    padding-right: 5%;
}

.img-circle {
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
    max-width: 70%;
    height: auto;
}

.button-container {
    padding: 5px;
}

.z-index-999 {
    z-index: 999;
}
