.sublist {
    h2 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2em;
        margin: 0px 0px 2px 0px;
        text-align: left;
        order: 1;
        font-family: "Montserrat", Sans-serif;
    }

    .post-text {
        padding-top: 0px;
        
    }

    .pb-30 {
        padding-bottom: 10px;
    }
}