[data-theme='light'] {
  --tag-skeleton-pm-bg-color: #dbdbdb;
  --tag-skeleton-sc-bg-color: #e5e5e5;

  --tag-btn-color: rgba(0,0,0,0.4);
  --tag-btn-bg-color: #efefef;
  --tag-btn-color-hover: #fff;
  --tag-btn-bg-color-hover: #adadad;
  --tag-btn-bg-color-active: #fd6d75;
}
