.jjara-bnt-legend{
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.jjara-btn-disabled {
    cursor: not-allowed !important;
    border-color: gray !important;
    background: gray !important;
}
