.search-filter-dropdown-list {
  display: inline-block;
  width: 90%;
  height: 25px;
  background: var(--fifth-bg-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 12px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  color: #212529;
  font-size: 12px;
  text-transform: uppercase;
}
