@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.image-overlay {
  background-color: rgba(0,0,0,0.50);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

.download-cv {
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(180deg, #fe7570 0%, #ffa57c 100%) !important;
  }
}

.social-media-welcome {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity .35s ease .75s;
  z-index: 7;

  ul {
    li {
      padding-bottom: 10px;
    }
  }

  i {
    padding-bottom: 50px;
  }

  .fa {
    font-size: 26px !important;
    color: #b0b2c3;
    width: 50px;
    height: 80px;

    &:hover {
      font-size: 40px !important;
      color: #FFF;
    }
  }
}


.container-welcome {
  width: 100%;
  height: 93vh;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  ul {
    width: 40px;
  }

  .box {
    position: relative;
    display: flex;
    justify-content: center;

    .img-container {
      width: 250px;
      height: 250px;
    }

    .description-container {
      width: 30%;
      text-indent: 40px;
      text-align: justify;
      margin-bottom: 1.25rem;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 1.75em;
      color: #d5d5d5;
      padding-left: 20px;
    }

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 0px;

      .block {
        width: 0%;
        height: inherit;
        background: var(--jjara-tag-bg-color);
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h1 {
        font-family: 'Poppins';
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: var(--jjara-tag-bg-color);
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: 10px;

      .block {
        width: 0%;
        height: inherit;
        background: var(--fourth-bg-color);
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;


      }



      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
         font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}



@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: var(--jjara-tag-bg-color);
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: var(--jjara-tag-bg-color);
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: var(--jjara-tag-bg-color);
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 0.5;
  }
}

.footer-welcome {
  width: 350px;
  height: 80px;
  background: var(--third-bg-color);
  position: absolute;
  right: 0;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 0.8s forwards;
  animation-delay: 4s;
  opacity: 0;


  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #FFF;
    font-family: 'Poppins';

    i {
      margin-right: 25px;
      font-size: 22px;
      color: #FFF;
      animation: icon 2s forwards;
      animation-delay: 4s;
      opacity: 0;
    }
  }
}

@keyframes top {
  0% {
    opacity: 0;
     bottom: -80px
  }
  100% {
    opacity: 1;
     bottom: 0px
  }
}

@keyframes icon {
  0% {
    opacity: 0;
     transform: scale(0.0);
  }
   50% {
      opacity: 1;
     transform: scale(1.3) rotate(-02deg);
   }
  100% {
    opacity: 1;
     bottom: 0px;
  }
}

@keyframes show {
  100% {
		width: 500px;
  }
}

@keyframes hide {

	100% {
    opacity: 1;
    transition: opacity 1s;
	}
}

.about-me.img-circle {
  width: 100%;
  max-width: 100%;
}

.welcome-about-me {
  text-align: center;
  padding-bottom: 20px;
}
