[data-theme='dark'] {
  --tag-skeleton-pm-bg-color: #d5d5d5;
  --tag-skeleton-sc-bg-color: #f0f0f0;

  --tag-btn-color: rgba(0,0,0,0.4);
  --tag-btn-bg-color: #ededed;
  --tag-btn-color-hover: rgba(0,0,0,0.4);
  --tag-btn-bg-color-hover: #fff;
  --tag-btn-bg-color-active: #fd6d75;
}
