body {
    color: var(--main-title-color);
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 0.85rem;
    background: var(--secondary-bg-color);
}

@-webkit-keyframes blackWhite {  
    0% { background-color: white; }
    50% { background-color: white; }
    51% { background-color: black; }
    100% { background-color: black; }
  }
  
  @-webkit-keyframes blackWhiteFade {  
    0% { background-color: white; }
    50% { background-color: black; }
    100% { background-color: white; }
  }

  
  .show-selection {
    background-color: black;
    -webkit-animation-name: blackWhiteFade;
    -webkit-animation-iteration-count: 1;  
    -webkit-animation-duration: 2s; 
  }
  
h1, h2, h3, h4, h5 {
    
            
    span {
        a {
            display: block;
            position: relative;
            top: -50px;
            visibility: hidden;
            
        }
    }
}


a, a:hover {
    color: inherit;
    text-decoration: none;
}

img {
    cursor: pointer;
    &:hover {
        filter: brightness( 70% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
    }
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    box-shadow: none !important;
}

.pt-30 {
    padding-top: 30px;
}
  
.pb-30 {
    padding-bottom: 30px;
}
  
.pr-30 {
    padding-right: 30px;
}
  
.pl-30 {
    padding-left: 30px;
}

i {
    font-size: 22px !important;

    &:hover {
      cursor: pointer;
    }
}

.icon-button {
    display: inline-block;
    font-size: .8125em;
    background: #444;
    color: #fff;
    border-radius: 50px;
    padding: .5em 1em;
    margin: 1px 2px;
    line-height: 1;
    border: none;
    font-size: 14px;
    font-family: var(--primary-font-family);

    i {
        font-size: 14px !important;
        padding-right: 10px;
    }

}

#fullscreen:fullscreen {
    //padding: 42px;
    //background-color: pink;
    //border:2px solid #f00;
    //font-size: 200%;
    overflow: auto;
  }
  
  #fullscreen:fullscreen > h1 {
    //color: red;
  }
  
  #fullscreen:fullscreen > p {
   // color: darkred;
  }
  
  #fullscreen:fullscreen > button {
    display: none;
  }

.text-content {
    a {
        color: #75d69c;
        
        &.hover {
            text-decoration: underline; 
        }
    }
}

.hide {
    display: none;
}

.bullet-fix {
    display: inline !important;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}