::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.text-editor {
    border: 1px solid #303030;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    .col-lg-6, .col-lg-12 {
        padding: 0;
    }

    p {
        padding: 5px;
    }

    .text-content {
        //max-height: 500px;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        //border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #303030; 
        //border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #303030; 
    }
}

pre[class*="language-"] {

  
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 15px grey; 
        //border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--third-bg-color); 
        //border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--third-bg-color); 
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        height: 5px;

        &.hover {
            
        }
    }
    
}
