:root {
    --dark-third: #333333;
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #141414;
    --third-bg-color: #fd6d75;
    --fourth-bg-color: #fd8a90;
    --fifth-bg-color: #d5d5d5;
    --sixth-bg-color: #f0f0f0;
    --septh-bg-color: #fd8a90;
    --eigth-bg-color: #292929;
    --main-title-color: #FDF7F2;
    --main-title-color-loading: #ffffff;
    --meta-data-color: #adadad;
    --main-text-color: #777;
    --primary-loading-bg-color: #353535;
    --secondary-loading-bg-color: #3f3f3f;
    --tb-bg-color: #272822;
    --primary-font-family: "Montserrat", Sans-serif;

    --jjara-tag-container-list-ul-li-bg-color: #ededed;
    --jjara-tag-container-list-ul-li-hover-bg-color: #FFF;
    --jjara-tag-container-list-ul-li-active-bg-color: #FFF;

    --jjara-comboBox-icon-color: #8f8f8f;
}
