:root {
    --dark-third: #333333;
    
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #141414;
    --third-bg-color: #fd6d75;
    --fourth-bg-color: #fe7570;
    --fifth-bg-color: #d5d5d5;
    --sixth-bg-color: #f0f0f0;
    --septh-bg-color: #fd8a90;
    --main-title-color: #FDF7F2;
    --main-title-color-loading: #ffffff;
    --meta-data-color: #adadad;
    --main-text-color: #777;
    --primary-loading-bg-color: #353535;
    --secondary-loading-bg-color: #4b4b4b;
    --tb-bg-color: #272822;

    --primary-font-family: "Montserrat", Sans-serif;
}