:root {
    --dark-third: #333333;
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #141414;
    --third-bg-color: #fd6d75;
    --fourth-bg-color: #fd8a90;
    --fifth-bg-color: #d5d5d5;
    --sixth-bg-color: #f0f0f0;
    --septh-bg-color: #fd8a90;
    --eigth-bg-color: #292929;
    --main-title-color: #FDF7F2;
    --main-title-color-loading: #ffffff;
    --meta-data-color: #adadad;
    --main-text-color: #777;
    --primary-loading-bg-color: #353535;
    --secondary-loading-bg-color: #3f3f3f;
    --tb-bg-color: #272822;
    --primary-font-family: "Montserrat", Sans-serif;

    --jjara-tag-container-list-ul-li-bg-color: #ededed;
    --jjara-tag-container-list-ul-li-hover-bg-color: #FFF;
    --jjara-tag-container-list-ul-li-active-bg-color: #FFF;

    --jjara-comboBox-icon-color: #8f8f8f;

    --jjara-tag-bg-color: #75d69c;


    //--jjara-loading-primary-title-bg-color: #e6e2e2;
    //--jjara-loading-secondary-title-bg-color: #fbf7f4;

    --jjara-loading-primary-title-bg-color: #353535;
    --jjara-loading-secondary-title-bg-color: #3f3f3f;

    --jjara-loading-primary-date-metadata-bg-color: #909090;
    --jjara-loading-secondary-date-metadata-bg-color: #adadad;

    --jjara-loading-primary-code-bg-color: #dd6d97;
    --jjara-loading-secondary-code-bg-color: #d090a2;

    --jjara-loading-primary-code-block-bg-color: #6cc;
    --jjara-loading-secondary-code-block-bg-color: #9fdddd;

    --jjara-loading-primary-code-comments-bg-color: #bfc8be;
    --jjara-loading-secondary-code-comments-bg-color: #eaf5e9;

    --jjara-loading-primary-code-pagination-bg-color: #FBC84F;
    --jjara-loading-secondary-code-pagination-bg-color: #ffda8c;
}
