[data-theme='light'] {


  //Latest Post Loading Card
  --primary-loading-bg-color: #dbdbdb;
  --secondary-loading-bg-color: #e5e5e5;

  --jjara-nav-link: inherit;
  --jjara-icon-color: inherit;
  --jjara-logo-color: inherit;

  --jjara-card-body-hover: #f2f2f2;



  --third-bg-color: #fd6d75; //fd6d75
  --fourth-bg-color: #fd8a90;


}
//
//.navbar-dark .navbar-nav .active>.nav-link{
//  color: var(--jjara-nav-link);
//}
//
//.fix-top {
//  color: #FFF;
//}

[data-theme='dark'] {







  --jjara-card-body-hover: #353535;
  --jjara-nav-link: inherit;
  --jjara-icon-color: inherit;
  --jjara-logo-color: inherit;



  --dark-third: #333333;

  --third-bg-color: #fd6d75;
  --fourth-bg-color: #fd8a90;

  --septh-bg-color: #fd8a90;
  --eigth-bg-color: #292929;

  --meta-data-color: #adadad;
  --main-text-color: #777;
  --primary-loading-bg-color: #353535;
  --secondary-loading-bg-color: #3f3f3f;
  --tb-bg-color: #272822;

  --jjara-comboBox-icon-color: #8f8f8f;

  --jjara-tag-bg-color: #75d69c;

  //--jjara-loading-primary-title-bg-color: #e6e2e2;
  //--jjara-loading-secondary-title-bg-color: #fbf7f4;

  --jjara-loading-primary-title-bg-color: #353535;
  --jjara-loading-secondary-title-bg-color: #3f3f3f;

  --jjara-loading-primary-date-metadata-bg-color: #909090;
  --jjara-loading-secondary-date-metadata-bg-color: #adadad;

  --jjara-loading-primary-code-bg-color: #dd6d97;
  --jjara-loading-secondary-code-bg-color: #d090a2;

  --jjara-loading-primary-code-block-bg-color: #6cc;
  --jjara-loading-secondary-code-block-bg-color: #9fdddd;

  --jjara-loading-primary-code-comments-bg-color: #bfc8be;
  --jjara-loading-secondary-code-comments-bg-color: #eaf5e9;

  --jjara-loading-primary-code-pagination-bg-color: #fbc84f;
  --jjara-loading-secondary-code-pagination-bg-color: #ffda8c;
}
